body {
  font-family: "Josefin Sans", sans-serif;
}

.bg {
  background-color: var(--background);
  height: 100vh;
  color: var(--text-primary);
}

.bgIMG {
  height: 12rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container1 {
  margin: auto;
  width: 75%;
  max-width: 28rem;
  position: relative;
  bottom: 10rem;
}

.container2 {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04));
}

/* #dark {
  background-color: var(--background);
  color: white;
}
#light {
  background-color: var(--background);
  color: black;
} */
