button {
  color: gray;
}

.buttons-container {
  height: 3rem;
  background-color: var(--container-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 11px;
}

.buttons-container p {
  color: gray;
}

.active {
  color: #3a7cfd;
}

.buttons button {
  margin-right: 0.8rem;
  cursor: pointer;
}
