.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  color: var(--text-secondary);
  letter-spacing: 0.6rem;
  font-weight: bolder;
  font-size: 27px;
}

.icon {
  background-size: cover;
  height: 40px;
  display: flex;
  align-items: center;
}
